@model NZBlog.Entity.BlogDetail
@{
    ViewBag.Title = "BlogDetailEdit";
    Layout = "~/Views/Shared/_MoreDataEdit.cshtml";
}
@section Header
{
<style type="text/css">
    td {
        font-size: 12px;
        color: #EC0F84;
        text-decoration: none;
    }

    .btnCode {
        background: transparent url(/Scripts/prettify/code.png) no-repeat 16px 16px;
        background-position: 2px 2px;
    }
</style>
<script type="text/javascript">
    var editor;
    $(pageInit);
    function pageInit() {
        var allPlugin = {

            Code: {
                c: 'btnCode', t: '插入代码', h: 1, e: function () {
                    var _this = this;
                    var htmlCode = '<div><select id="xheCodeType"><option value="html">HTML/XML</option><option value="js">Javascript</option><option value="css">CSS</option><option value="php">PHP</option><option value="java">Java</option><option value="py">Python</option><option value="pl">Perl</option><option value="rb">Ruby</option><option value="cs">C#</option><option value="c">C++/C</option><option value="vb">VB/ASP</option><option value="">其它</option></select></div><div><textarea id="xheCodeValue" wrap="soft" spellcheck="false" style="width:300px;height:100px;" /></div><div style="text-align:right;"><input type="button" id="xheSave" value="确定" /></div>';
                    var jCode = $(htmlCode), jType = $('#xheCodeType', jCode), jValue = $('#xheCodeValue', jCode), jSave = $('#xheSave', jCode);
                    jSave.click(function () {
                        _this.loadBookmark();
                        _this.pasteHTML('<pre class="prettyprint linenums lang-' + jType.val() + '">' + _this.domEncode(jValue.val()) + '</pre>');
                        _this.hidePanel();
                        return false;
                    });
                    _this.showDialog(jCode);
                }
            }
        };
        editor = $('#BlogContent').xheditor({ plugins: allPlugin, tools: 'Cut,Copy,Paste,Pastetext,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,Align,List,Outdent,Indent,Link,Unlink,Anchor,Img,Flash,Media,Hr,Emot,Table,Preview,Print,Fullscreen,Source,Code', upImgUrl: "/admin/UploadImage" });
    }
</script>
}
<form class="form-horizontal" role="form" action="/admin/SubmitBlogDetail">
    <input type="hidden" class="form-control" name="BlogId" value="@Model.BlogId">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">分类</label>
        <div class="col-sm-10">
            @Html.DropDownList("TypeId")
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-10">
            <input type="text" notnull title="标题" name="Title" class="form-control" value="@Model.Title">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
            <textarea style="width:100%; height:400px;" class="form-control" id="BlogContent" name="BlogContent"> @Model.BlogContent</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">是否推送</label>
        <div class="col-sm-10">
            @Html.CheckBoxFor(m => m.IsSendDefault)
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label"><span class="glyphicon glyphicon-tags"></span> 标签</label>
        <div class="col-sm-10" id="lableList">
            <input type="text" id="txtLable" class="form-control" /> <a id="btnAddLable" class="btn btn-success btn-xs">添加</a>
            @{
                foreach (var item in Model.Lables.Split(','))
                {
                    <span class="label label-primary">@item <input type="hidden" name="Lables" value="@item" /> <span aria-hidden="true" onclick="deleteLable(this)">&times;</span></span>
                }
            }
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">是否推荐</label>
        <div class="col-sm-10">
            @Html.CheckBoxFor(m => m.IsRec)
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">排序</label>
        <div class="col-sm-10">
            <input type="text" notnull title="备注" name="SortNum" class="form-control" value="@Model.SortNum">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a id="btnSubmit" class="btn btn-success">提交</a>
        </div>
    </div>
</form>
@section Script
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.xheIframeArea').height('100%');
            $('#btnSubmit').mpost(function (data) {
                if (data.Status == 1) { okshow(data.Msg); } else { exshow(data.Msg); }
            });
            $('#btnAddLable').click(function () {
                var _lable = $('#txtLable').trim();
                if (_lable != '') {
                    $('#lableList').append('<span class="label label-primary">' + _lable + '<input type="hidden" name="Lables" value="' + _lable + '" /> <span aria-hidden="true" onclick="deleteLable(this)">&times;</span></span> ');
                }
            });
            setInterval(KeepLogin, 60000);
        });
        function deleteLable(obj) {
            $(obj).parent().remove();
        }

        function KeepLogin() {
            $.get('/admin/KeepLogin', function () { });
        }
    </script>
}
