<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_KeyWord")
    @*<meta name="Description" content="本博客采用Asp.net MVC4.0开发，数据交互层采用基于Dapper扩展的ORM框架，界面基于Bootstrap" />
    <meta name="KeyWords" content="本博客为记录自己技术心得而建，文章仅代表自己观点" />*@
    <link rel="shortcut icon" href="/images/base/icon1.ico" type="image/x-icon" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/prettify/prettify.css" rel="stylesheet" />
    <script src="~/Scripts/prettify/run_prettify.js"></script>
    @Html.Partial("_HeadScript")
</head>
<body>
    @Html.Partial("_Par_Top")
    <div class="container">
        <div class="col-md-9">
           @RenderBody()
        </div>
        <div class="col-md-3 right-page">
            @Html.Partial("_Partial_Right")
        </div>
    </div>
    @Html.Partial("_Partial_footer")
   @Html.Partial("_Partial_FootScript")
</body>
</html>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(function () {
        $('#btnSubscribe').click(function () {
            $('#formSubscribe').submit();
        });
        $('#btnSearch').click(function () {
            $('#formSearch').submit();
        });
        $('.nav a').each(function () {
            var _location = window.location.href;
            var _host = window.location.host;
            var startIndex = _location.indexOf(_host);
            var endLocation = _location.substring(startIndex + _host.length);
            var _href = $(this).attr('href');
            if (endLocation == _href)
                $(this).addClass('Nav-action').parent().addClass('active');
        });
    });
</script>